################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/~WRL2043.tmp
/~WRL0003.tmp
/~$ain Project.docx
/Train/webgl_test/
/Train/UnityVS.Train.CSharp.csproj.user
/Train/train_Data/
/Train/Train.userprefs
/Train/train.exe
/Train/Train.CSharp.csproj.user
/Train/train.apk
/Train/player_win_x86_s.pdb
/Train/player_win_x86.pdb
/Train/Library/UnityAssemblies/version.txt
/Train/Library/UnityAssemblies/UnityEngine.xml
/Train/Library/UnityAssemblies/UnityEngine.UI.xml
/Train/Library/UnityAssemblies/UnityEngine.UI.dll
/Train/Library/UnityAssemblies/UnityEngine.Networking.xml
/Train/Library/UnityAssemblies/UnityEngine.Networking.dll
/Train/Library/UnityAssemblies/UnityEngine.dll
/Train/Library/UnityAssemblies/UnityEditor.xml
/Train/Library/UnityAssemblies/UnityEditor.iOS.Extensions.Xcode.xml
/Train/Library/UnityAssemblies/UnityEditor.iOS.Extensions.Xcode.dll
/Train/Library/UnityAssemblies/UnityEditor.iOS.Extensions.Common.xml
/Train/Library/UnityAssemblies/UnityEditor.iOS.Extensions.Common.dll
/Train/Library/UnityAssemblies/UnityEditor.dll
/Train/Library/shadercompiler-UnityShaderCompiler.exe3.log
/Train/Library/shadercompiler-UnityShaderCompiler.exe2.log
/Train/Library/shadercompiler-UnityShaderCompiler.exe1.log
/Train/Library/shadercompiler-UnityShaderCompiler.exe0.log
/Train/Library/shadercompiler-64bit-4.log
/Train/Library/shadercompiler-64bit-3.log
/Train/Library/shadercompiler-64bit-2.log
/Train/Library/shadercompiler-64bit-1.log
/Train/Library/shadercompiler-32bit-4.log
/Train/Library/shadercompiler-32bit-3.log
/Train/Library/shadercompiler-32bit-2.log
/Train/Library/shadercompiler-32bit-1.log
/Train/Library/ShaderCache.db
/Train/Library/ShaderCache/
/Train/Library/ScriptMapper
/Train/Library/ScriptAssemblies/BuiltinAssemblies.stamp
/Train/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
/Train/Library/ScriptAssemblies/Assembly-CSharp.dll
/Train/Library/ProjectSettings.asset
/Train/Library/MonoManager.asset
/Train/Library/metadata/
/Train/Library/LibraryFormatVersion.txt
/Train/Library/LastSceneManagerSetup.txt
/Train/Library/InspectorExpandedItems.asset
/Train/Library/expandedItems
/Train/Library/EditorUserSettings.asset
/Train/Library/EditorUserBuildSettings.asset
/Train/Library/CurrentMaximizeLayout.dwlt
/Train/Library/CurrentLayout.dwlt
/Train/Library/BuildSettings.asset
/Train/Library/BuildPlayer.prefs
/Train/Library/AssetVersioning.db
/Train/Library/AssetServerCacheV3
/Train/Library/AssetImportState
/Train/Library/assetDatabase3
/Train/Library/AnnotationManager
/Train/.vs/UnityVS.Train/v14/.suo
/Train/.vs/Train/v14/.suo
/Train/Temp/__Backupscenes/0.backup
/Train/Temp/UnityVS_obj
/Train/Temp/UnityVS_bin/
/Train/Temp/
*.bin
